<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentinel Panel</title>
    <link type="text/css" href="@Url.Content("~/Content/sentinel/bootstrap.min.css")" rel="stylesheet" />
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                Imagem
                @*<img class="navbar-brand" src="@Url.Content("~/Content/healthcheck/healthCheck.png")" width="200">*@
            </div>
            <div class="navbar-collapse collapse">
                @RenderSection("stats", required: false)
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script type="text/javascript" src="@Url.Content("~/Scripts/sentinel/jquery-2.2.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/sentinel/modernizr-2.8.3.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/sentinel/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/sentinel/knockout-3.4.0.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>